.menubar {
    width: 100%;
    height: 32px;
    background: rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(24px);
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0 1em;
}

.menubar .left,
.menubar .right {
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
}

.menubar .left {
    justify-content: flex-start;
}

.menubar .right {
    justify-content: flex-end;
}

.menubar .right p {
    padding: 0;
}

.menubar button,p {
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 0.35em;
    padding: 0 10px;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.menubar p {
    cursor: auto;
}

.menubar button:hover {
    background-color: rgba(255, 255, 255, 0.125) !important;
}

.menubar .left .pear {
    width: 24px;
    height: 24px;
    background-image: url("../assets/pear-w.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menubar .left .finder {
    font-weight: 600;
}